<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</head>
<body style="background-image: url('https://media.istockphoto.com/photos/colorful-from-sunrise-picture-id524549300?b=1&k=20&m=524549300&s=170667a&w=0&h=XMRhfZ295TQqyfENhtvuUtMjpYlGJs9JxV9S59ty2OA='); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<nav class="navbar navbar-expand-lg" style="background: #edc2eb;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advice">Advice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/diary">Diary</a>
                </li>
                <li class="nav-item " style="position:absolute; right: 0">
                    <a class="nav-link " href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col-3"><img class="rounded" style="height: 200px; width: auto;"
                                src="https://cdn2.iconfinder.com/data/icons/fake-news-red/64/CHECKING-magnifying_glass-fake_news-newspaper-journal-512.png"/>
        </div>
        <div class="col-9">
            <h3>Explore</h3>
            <p>You are feeling stressed and depressed and are looking for some help? Go check some of the latest
                scientific
                papers in the psychology field. Try to search throw them and find what is more relevant to your current
                situation. You can also search by some
                term in the title or sort them by date. And always remember, you are not alone in this.</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-9">
            <h3>Advice</h3>
            <p>So you are searching for more personal way to get help and learn how to deal with your stress, then take
                this quiz to see
                what is the main reason for your anger and depression and get some advice about how to cope whit that
                feeling. We do not save data about
                your answers so be free to answer then honestly.</p>
        </div>
        <div class="col-3"><img class="rounded" style="height: 200px; width: auto;"
                                src="https://cdn-icons-png.flaticon.com/512/4185/4185489.png"/>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-3"><img class="rounded" style="height: 200px; width: auto;"
                                src="https://cdn-icons-png.flaticon.com/512/4388/4388473.png"/>
        </div>
        <div class="col-9">
            <h3>Diary</h3>
            <p>You can use this online diary as a mark for you to check how are you getting better and how fast are you
                learning to cope with
                your feelings. Write the date and start writing about your day. You can always check up to see your
                progress and always remember to be
                proud of yourself, because every little step is better than yesterday.</p>
        </div>
    </div>
    <br>
</div>
</body>
</html>